<html>

<head>
    <title>Todos (
        <%= todos.length %>) </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/index.js"></script>
</head>

<body>
    <div class="card" id="wrapper">
        <h5 class="card-header">Todos (
            <%= todos.length %>) </h5>
        <div class="card-body">
            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter todo here" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary submit" type="submit">Submit</button>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <tbody>
                    <% todos.forEach((item) => { %>
                    <tr>
                        <td>
                            <%= item.todo %> <button class="btn btn-danger remove" data-id="<%= item._id %>"><i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>