#wrapper {
    margin: auto;
    margin-top: 50px;
    width: 600px;
}

.edit,
.remove {
    float: right;
}

input[type=checkbox] {
    margin-right: 8px;
}

.edit {
    margin-right: 5px;
}

td {
    line-height: 35px;
}